body {
    background-color: var(--primary-color);
}

#shop-top {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
    padding: 10px;
    font-family: var(--alternative-font);
    background-color: whitesmoke;
    width: 80%;
}

#drop {
    align-items: center;
}

#drop p {
    margin: 5px;
}

#drop-btn {
    border: 1px solid gray;
    border-radius: 5px;
    cursor: context-menu;
}

#drop-btn p {
    padding: 0 5px;
}

#drop-btn:hover #list {
    display: block;
}

#list {
    border: 1px solid black;
    border-top: none;
    position: absolute;
    display: none;
    background: #eee;
}

.li {
    border: 5px solid #eee;
    text-align: center;
}

.li:hover {
    border: 5px solid #ddd;
    background-color: #ddd;
}

#shop-products {
    width: 80%;
}
