@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Concert+One&family=Dancing+Script&display=swap');

:root {
    --primary-color: rgb(218, 165, 32);
    --secondary-color: rgb(193, 139, 5);
    --alternative-color: rgb(116, 107, 3);
    --white-color: #FFF;
    --black-color: #000;
    --primary-font: "Concert One", cursive;
    --secondary-font: "Dancing Script", cursive;
    --alternative-font: "Belanosima", sans-serif;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flexcenterxy {
    align-items: center;
    justify-content: center;
}

.flexcenterx {
    align-items: center;
}

.flexcentery {
    justify-content: center;
}

button {
    cursor: pointer;
    background: var(--alternative-color);
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 15px;
    color: white;
    font-family: var(--primary-font);
    font-size: 1em;
    transition: all 100ms linear;
}

button:hover {
    box-shadow: 0 0 50px var(--alternative-color);
}
